:root {
  /* Colors */
  /* Primary Colors*/
  /* --light-red: hsl(0, 100%, 67%); */
  /* --orangey-yellow: hsl(39, 100%, 56%); */
  /* --green-teal: hsl(166, 100%, 37%); */
  /* --cobalt-blue: hsl(234, 85%, 45%); */
  --light-red: 0 100% 67%;
  --orangey-yellow: 39 100% 56%;
  --green-teal: 166 100% 37%;
  --cobalt-blue: 234 85% 45%;

  /* Gradients Colors*/
  /* background */
  --light-slate-blue: hsl(252, 100%, 67%); /*colors/navy/200*/
  --light-royal-blue: hsl(241, 81%, 54%);
  /* circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* Neutral Colors*/
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --dark-gray-blue-transparent: hsl(224 30% 27% / 50%);

  /* Typography */
  /* 
        • Font size for paragraphs is 18px;
        • Weights used are 500, 700, 800
        • Font family Hanken Grotesk
        • Note about color variations - use alpha channel to match the colors to the design
            To do this using your CSS variables you can do this for example:
            color: hsl(var(--dark-gray-blue) / 50%)
    */
  /* 
        • Mobile  375px
        • Tablet - portrait 768px
        • Tablet - landscape 1024px
        • Desktop 1440px
    */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  background-color: var(--white);
}

main {
  padding: 284px 352px;
}

article.results-container {
  /* max-width: 736px;
  max-height: 512px; */
  display: flex;
  border-radius: 32px;
  /* overflow: hidden; */
  box-shadow: 0 30px 60px 0 hsla(224, 82%, 58%, 15%);
}

section.score-card {
  width: 368px;
  height: 512px;
  background: linear-gradient(180deg, var(--light-slate-blue), var(--light-royal-blue) 100%);
  border-radius: 32px;
  text-align: center;
}

.score-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 54px 45px 54px;
}

.score-card-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light-lavender);
  margin-top: 45px;
}

.circle-box {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, var(--violet-blue), var(--persian-blue) 100%);
  border-radius: 50%;
  margin: 32px;
}

.circle-header {
  color: var(--white);
  font-size: 4.5rem;
  margin-top: 52.4px;
  margin: 0;
}

.circle-text {
  color: hsla(241, 100%, 89%, 52%);
  font-size: 1.25rem;
}

h3 {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 16px;
}

.results-comp {
  font-size: 1.125rem;
  color: var(--light-lavender);
  /* text-align: center; */
}

.summary-card {
  width: 368px;
  padding: 44.5px 40px;
}

.summary-card-title {
  font-size: 1.5rem;
  color: var(--dark-gray-blue);
  text-align: left;
  text-shadow: 0 4px 4px hsla(224, 30%, 27%, 25%);
  margin-bottom: 32px;
}

.summary-bubble {
  width: 288px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16.5px 19px;
  border-radius: 12px;
  box-shadow: 0 4px 4px hsla(224, 30%, 27%, 25%);
}

.summary-bubble:nth-of-type(2),
.summary-bubble:nth-of-type(3) {
  margin: 16px 0;
}

.category {
  display: inline-block;
  font-weight: 500;
}

.score {
  color: var(--dark-gray-blue-transparent);
  font-weight: bold;
}

.score > span.numerator {
  color: var(--dark-gray-blue);
  font-weight: bold;
  opacity: 1;
}

.reaction {
  background-color: hsl(var(--light-red) / 5%);
}

.reaction > .summary-title > .category {
  color: hsl(var(--light-red));
}

.memory {
  background-color: hsl(var(--orangey-yellow) / 5%);
}

.memory > .summary-title > .category {
  color: hsl(var(--orangey-yellow));
}

.verbal {
  background-color: hsl(var(--green-teal) / 5%);
}

.verbal > .summary-title > .category {
  color: hsl(var(--green-teal));
}

.visual {
  background-color: hsl(var(--cobalt-blue) / 5%);
}

.visual > .summary-title > .category {
  color: hsl(var(--cobalt-blue));
}

.continue-btn {
  display: inline-block;
  width: 18rem;
  height: 3.5rem;
  text-align: center;
  padding: 16.5px;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  text-decoration: none;
  border-radius: 32px;
  margin-top: 32px;
  box-shadow: 0 4px 4px hsla(224, 30%, 27%, 25%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
